services:

  common-rmi:
    build: ./common-rmi

  c01-backend:
    build: ./c01-backend-javalin
    container_name: c01-backend
    ports:
      - "7001:7001"
    depends_on:
      - c02-jms-broker
    restart: on-failure

  c02-jms-broker:
    image: rmohr/activemq:5.15.9
    container_name: c02-jms-broker
    ports:
      - "61616:61616"
      - "8161:8161"

  c03-ejb-mdb:
    build: ./c03-ejb-mdb-rmi-client
    container_name: c03-ejb-mdb
    depends_on:
      - c02-jms-broker
    restart: on-failure
    environment:
      JAVA_OPTS: "-Djava.util.logging.config.file=/usr/local/tomee/conf/logging.properties"

  c04-rmi-server-1:
    build: ./c04-rmi-server-1
    container_name: c04-rmi-server-1
    environment:
      - RMI_PORT=1104
      - RMI_NAME=ZoomService
    ports:
      - "1104:1104"

  c05-rmi-server-2:
    build: ./c05-rmi-server-2
    container_name: c05-rmi-server-2
    environment:
      - RMI_PORT=1105
      - RMI_NAME=ZoomService
    ports:
      - "1105:1105"

  mysql:
    image: mysql:8.0
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: images_db
    volumes:
      - mysql_data:/var/lib/mysql

  c06-node-api:
    image: node:18
    container_name: c06-node-api
    working_dir: /app
    volumes:
      - ./c06-node-api:/app
    command: ["bash", "-c", "npm install && node index.js"]
    ports:
      - "7006:7006"
    depends_on:
      - mysql

volumes:
  mysql_data: